RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to .php
RewriteRule ^home index.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# NC = No Case. make the rule non case sensitive
# L = Last. makes this the last rule that this specific condition would match
# QSA = Query String Append. just in case you've gor something like ?like=penguins on the end which you want to keep and pass to the distination file 


# disallow access to folders
Options -Indexes

# Other redirects
RewriteRule ^notifications/([0-9a-zA-Z_-]+) notifications.php?slug=$1 [NC,L]
